@import "tailwindcss";

:root {
  font-family: "Space Grotesk", system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-dark);


  --primary: #1337ec;
  --background-light: #f6f6f8;
  --background-dark: #111422;
  --terminal-bg: #10141b;
  --terminal-header: #161b22;
  --accent-cyan: #2f81f7;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

color {
  color: #223bb698;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #d6e1ec25;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b0c6e07a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}